html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
}

body {
    position: relative; 
    background-image: url('recources/841666uly00b1.gif'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
   
    display:inline;
    justify-content: center;
    align-items: center;
}

.textgif {
    position:absolute; 
    color: white; 
    font-size:large;
    text-align:right;
    font-family: Arial, sans-serif;
    background-color: rgba(115, 14, 112, 0.5); 
    padding: 20px; 
    border-radius: 10px; 
}


