html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
}

body {
    position: relative; 
    background-image: url('recources/841666uly00b1.gif'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.textgif {
    position: absolute; 
    color: white; 
    font-size: 30px; 
    text-align: center; 
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7); 
    max-width: 80%; 
    z-index: 10; 
}



