* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url('/Salah/Images/gta\ san\ andreas.jpg'); 
    background-size: cover;
    background-position: center;
    font-family: 'Old English Text MT', serif;
    color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 100%;
    height: 110%;
}
#start{
    color: black;
    
}



.main-menu {
    color: black;
    position: absolute;
    top: 5%; /* Positioneer naar boven */
    left: 5%; /* Positioneer naar links */
}

.main-menu h1 {
    font-size: 2.5rem;
}

.game-title {
    position: absolute;
    top: 10%;
    right: 5%;
    text-align: right;
    font-size: 3rem;
    line-height: 1.5;
}

.options {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.options ul {
    list-style: none;
    text-align: center;
}


@keyframes fade-in-out {
    0% {
        opacity: 1; 
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1; 
    }
}

/* Stijl voor de opties */
.options li {
    font-size: 2rem;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
}


.options li.active {
    color: rgb(0, 0, 0);
    border: 2px solid green;
    padding: 5px;
    border-radius: 5px;
    text-shadow: 2px 2px 3px #ffffff;
    animation: fade-in-out 2s infinite; 
}


.options li a,
.info h3 a {
    color: black; 
    text-decoration: none;
    display: block; 
}

*/


.options li.disabled {
    color: rgb(0, 0, 0);
}

.info {
    position: absolute;
    bottom: 5%; 
    left: 5%; 
}

.info h3 {
    font-size: 2.5rem;
}

